
.separator1 {
  margin-top:40px;
  margin-bottom: 20px;
  border: 0;
  height: 250px;
  background: url(./img/bakgrund.jpeg) 0 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 0.2fr);
}
.textvidstreck {
  grid-column: 3;
  justify-content: end;
  background: white;
  color: black;
}
.streck {
  align-self: center;
  grid-column: 4/11;
  background: #0075c8;
  color: white;
  border-radius: 1000px;
  height: 0.5em;
}